@import "~bootstrap/dist/css/bootstrap.min.css";
h1{
    color: rgb(192, 129, 47);
    text-align: center;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
body{
    width: 800px;
    margin: auto;
    
}
