@import "~bootstrap/dist/css/bootstrap.min.css";
$fontColor:rgb(32, 112, 119);
$taille:100%;

h1{
    color: $fontColor;
    width: $taille;
    text-align: center;
    margin-bottom: 20px;
}
body{
    width: 800px;
    margin: auto;
}
input{
    text-transform: capitalize;
}
form{
    width: $taille;
    text-align: center;
    margin-left: 20px;
}
table{
    text-align: center;
    th{
        color:$fontColor;
    }
    td{
        color: gray;
        text-transform: capitalize;
    }
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
}